.materiasemestre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.materia{
    width: 800px;
    margin-top: 10px;
    background-color: rgba(225, 235, 234, 0.87) !important;
}

.semestre{
    width: 350px;
    margin-top: 10px;
    background-color: rgb(143, 202, 196);
}

.sem {
    background-color: rgba(195, 204, 204, 0.555);
}

h3 {
    text-align: center;
    font-size: 2em;
    color: rgb(43, 110, 119);
}

.asignar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    font-family:fantasy;
    background: rgb(143, 202, 196);
}

.asignarsemestre{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    font-family:fantasy;
    font-size: 25px;
}

select {
    margin-bottom: 10px;
    color: rgb(39, 4, 95);
}

select option {
    color: rgb(39, 4, 95);
}

.form-control {
    background: rgba(131, 234, 241, 0.664);
    /* font-family:fantasy;*/
}

.btn-a{
    margin: 15px;
    padding: 15px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.mostrar {
    margin-top: 15px;
    margin-bottom: 15px;
}