@import url('https://fonts.googleapis.com/css?family=Tangerine');
.container-head{
    width: 100%;
    background-image:linear-gradient(rgba(155, 46, 78, 0.5),#f1c199), url("https://getwallpapers.com/wallpaper/full/b/9/a/165636.jpg");

}
h1{
   
    color: white;
    text-align: center;
    padding: 20px 0px;
    box-shadow: #000;
    font-family: 'Tangerine', sans-serif;
    /*position: fixed;*/
}

/*body{
    background-color: rgb(250, 202, 246);
}
.container-head-left{
    float: left;
    width: 13.5%;
    background-color:black;
    /*border: 2px solid blue;*/
   /* height: 500px;
    margin: 1% 1% 1% 0.5%;
}
.button-b{
    text-align: center;
    width: 100%;
    background-color: rgb(250, 158, 207);
}
.container{
    float: right;
    width: 83.5%;
    height: 500px;
    /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYugOLoZm85WywNP7GchP4W7xxZV3GgWtmYw&usqp=CAU);*/
   /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1% 1% 1% 0.5%;
}
.nav{
    text-align: center;
}
.nav-menu-link{
    color:white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color:hotpink;
    transition: 0.5s;
}
.nav-menu-item{
    font-size: 15px;
    margin: 10px 0px;
    text-align: center;
}*/
