@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container-head {
    width: 100%;
    background-image:linear-gradient(rgba(54, 77, 70, 0.5),#568d88), url("https://getwallpapers.com/wallpaper/full/0/b/b/15101.jpg");
}
h1 {
    color: rgb(241, 237, 231);
    text-align: center;
    padding: 20px 0px;
    box-shadow: #000;
    font-family: 'Lobster', cursive;
    /*position: fixed;*/
}
h3 {
    color: rgb(241, 237, 231);
    text-align: center;
    padding: 20px 0px;
    font-family: 'Lobster', cursive;
    /*position: fixed;*/
}