.errorambiente {
    text-align: center;
    color: royalblue;
}
.msjlink {
    text-align: center;
    color: red;
}
table {
    margin-top: 20px;
}
table th {
    text-align: center;
}
table tr {
    text-align: center;
}