h3 {
    text-align: center;
    font-size: 2em;
    
}
select {
    margin-bottom: 5px;
    color: rgb(39, 4, 95);
}

select option {
    color: rgb(39, 4, 95);
}
.btn-a{
    margin: -1px;
    padding: 1px;
    background-color: rgb(108, 176, 197);
    border: none;
    border-radius: 1px;
    width: 100px;
    height: 45px;
    font-size: small;
}
.horario{
    height: 150px;
    width: 60%;  
}
.formatohorario{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.btn-a:hover{
    color: rgb(135, 201, 201);
    background: rgb(40, 90, 94);
}
.btn-op{
    width: 150px;
    height: 50px;
}
.mostrar {
    margin-top: 20px;
    margin-bottom: 15px;
}
.form-select{
    width: 200px;
}
.cab{
    background: rgb(48, 114, 126);
}
.docenteambsem {
    color:rgb(119, 121, 12)
}
.horariolist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 50px;
}
.mensaje {
    color:rgb(119, 121, 12)
}