.tablaEst{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: lightgreen;
    
}

.tablaEst td{
    border: solid 1px black;
    padding: 20px;
}
.headtabla{
    background-color:#0f2b36;
    border-bottom: solid 5px white;
    color:white;
}

tr:hover td{
    background-color:#999;
    color:white;
}