body {
    background-color: rgb(255, 102, 0);
    font-family: Arial;
}

.titulo {
    background: rgb(200, 9, 9);
    font-size: 50px;
    text-align: center;
    color: white;
}

table {
    background-color: rgb(221, 64, 174);
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: solid 1px black;
    padding: 20px;
}
.cabeza {
    background-color: rgb(91, 11, 116);
    color: white;
}