.titulo{
    background-color: rgb(236, 14, 181);
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: cursive;
    line-height: 1;
    font-weight: 1000;
    width: 95vw;
    height: 15vh;
    border-radius: 70px;
    border: 10px solid black
}
.login {
    background-color: rgb(236, 14, 181);
    font-size: 30px;
    font-weight: 1000;
    width: 40vw;
    height: 15vh;
    font-family: cursive;
    text-align: center;
    border-radius: 70px;
    border: 10px solid black
}
/* .registro {
    background-color: rgb(236, 14, 181);
    font-size: 40px;
    font-weight: 1000;
    width: 50vw;
    height: 15vh;
    text-align: center;
    font-family: cursive;
    text-align: center;
    border-radius: 70px;
    border: 10px solid black
} */
button:hover{
    color:yellow;
}
select:hover{
    color:yellow;
}

img {
    margin: auto;
    width: 300px;
    display: block;
}
